.card-evento {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    width: 282px;
    color: white;
}
.card-evento p,
.card-evento h4 {
    margin: 0;
}
.card-evento .corpo {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.card-evento .tag {
    background-color: #4A4949;
    border-radius: 4px;
    padding: 8px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 10%;
    text-transform: uppercase;
}
.card-evento .data {
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
}
.card-evento .titulo {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
}