.combobox-form {
    border-radius: 8px;
    background-color: #212121;
    border: 1px solid #4A4949;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    padding: 8px 16px;
    color: #ffffff;
}